@model StoreMVC.Models.UpdateInventoryViewModel

@{
    ViewData["Title"] = "Restock Item";
}

<h1>Restock Item</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RestockPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="LocationId" value="@Model.LocationId" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Restock" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}